DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB?schema=public"

UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

JWT_SECRET=""
JWT_REFRESH_SECRET=""

STARKNET_RPC_URL=""
STARKNET_CHAIN_ID="SN_MAIN"

VITE_STARKNET_RPC_URL=""
VITE_STARKNET_NETWORK="sepolia"
VITE_PAYMASTER_URL=""

EXTENDED_WS_URL=""
EXTENDED_REST_URL=""
EXTENDED_API_KEY=""

PARADEX_WS_URL=""
PARADEX_REST_URL=""
PARADEX_API_KEY=""
